<div class="display-wrapper">
  <img class="display-body" src="../../../../assets/images/display.png" />
  <div class="display-screen">
    <div [ngClass]="{ hidden: !notFoundError }" class="error-wrapper">
      <div class="error-toast">No product was found!</div>
    </div>
    <ng-container *ngFor="let product of scannedProducts; let i = index">
      <div class="tag">
        <p class="product-name">{{ product.name }}</p>
        <p class="product-price">
          {{ product.price }}
        </p>
        <button (click)="removeItem(i)" class="btn btn-danger">Remove</button>
      </div>
    </ng-container>
  </div>
</div>
