.display-wrapper {
  height: 605px;
  display: inline-flex;
  vertical-align: top;

  .display-body {
    width: 600px;
    height: 605px;
    position: absolute;
    z-index: -1;
  }

  .display-screen {
    background: white;
    box-shadow: 0px 0px 5px rgb(0 0 0 / 30%);
    width: 544px;
    height: 418px;
    vertical-align: top;
    margin: 34px 0px 0px 28px;
    padding: 0px;
    text-align: left;
    white-space: break-spaces;

    .stock-info {
      padding: 24px;
      padding-bottom: 0px;

      .stock-title {
        font-weight: bold;
      }

      p {
        display: inline-block;
      }
    }

    .total {
      margin-bottom: 0px;
      padding: 12px 24px;
      border-top: 1px solid rgba(0, 0, 0, 0.3);

      p {
        display: inline-block;
      }

      .total-title {
        font-weight: bold;
      }

      .total-sum {
        float: right;
      }
    }

    .selected-products {
      overflow-y: auto;
      height: 224px;

      .tag {
        width: calc(100% - 16px);
        margin: 8px;
        background: #007bff;
        color: white;
        line-height: 46px;
        height: 46px;
        border-radius: 5px;
        font-weight: bold;
        display: inline-block;

        p {
          display: inline-block;
          width: 40%;
          text-align: left;
          padding-left: 18px;
        }

        button {
          display: inline-block;
          margin-left: 12px;
          height: 32px;
          line-height: 0px;
          width: 78px;
          padding-left: 8px;
          cursor: pointer;
        }
      }
    }

    .error-wrapper {
      width: inherit;
      height: inherit;
      background: rgba(0, 0, 0, 0.2);
      transition: 0.4s;
      opacity: 1;
      position: absolute;
      top: 66px;

      .error-toast {
        background: #ff5a5a;
        width: 224px;
        padding: 16px;
        border-radius: 5px;
        color: white;
        font-weight: bold;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        top: 50%;
        position: relative;
        transform: translateY(-50%);
      }

      &.hidden {
        opacity: 0;
        pointer-events: none;
      }
    }
  }
}
