.display-wrapper {
  height: 605px;
  display: inline-flex;
  vertical-align: top;

  .display-body {
    width: 600px;
    height: 605px;
    position: absolute;
    z-index: -1;
  }

  .display-screen {
    background: white;
    box-shadow: 0px 0px 5px rgb(0 0 0 / 30%);
    width: 544px;
    height: 418px;
    vertical-align: top;
    margin: 34px 0px 0px 28px;
    padding: 0;

    .error-wrapper {
      width: inherit;
      height: inherit;
      background: rgba(0, 0, 0, 0.2);
      transition: 0.4s;
      opacity: 1;
      position: absolute;

      .error-toast {
        background: #ff5a5a;
        width: 224px;
        padding: 16px;
        border-radius: 5px;
        color: white;
        font-weight: bold;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        top: 50%;
        position: relative;
        transform: translateY(-50%);
      }

      &.hidden {
        opacity: 0;
      }
    }
  }
}
