.display-wrapper {
  height: 605px;
  display: inline-flex;
  vertical-align: top;

  .display-body {
    width: 600px;
    height: 605px;
    position: absolute;
    z-index: -1;
  }

  .display-screen {
    background: white;
    box-shadow: 0px 0px 5px rgb(0 0 0 / 30%);
    width: 544px;
    height: 418px;
    padding-right: 12px;
    vertical-align: top;
    margin: 34px 0px 0px 28px;
  }
}
