.scanner-wrapper {
  display: inline-flex;
  width: 500px;
  margin-left: 124px;
  margin-top: 162px;

  .barcode {
    position: absolute;
    width: 500px;
    z-index: -1;
  }

  form {
    width: 500px;
  }

  .card {
    background: white;
    padding: 24px;
    width: 370px;
    margin-top: 24px;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    border-radius: 5px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
  }
}
